<ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="User">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="사번" name="user_empno" ng-model="user.empno" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="비밀번호" name="user_password" ng-model="user.password" required show-hide-input>
                  </label>
                </div>
              </my-tab>
              <my-tab title="Phone">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="핸드폰 번호" name="user_phone" ng-model="user.phone" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="비밀번호" name="user_pin" ng-model="user.pin" required valid-pin="user.pin" show-hide-input>
                  </label>
                </div>
              </my-tab>
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="doLogIn()" ng-disabled="(selected_tab=='User') ? (login_form.user_empno.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                로그인
              </button>
            </div>
          </form>
        </div>
        <!-- <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            비번찾기
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            회원가입
          </a>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
